*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: #0ef;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-icons{
    margin-left: 2.5vh;
}
.top-icons i{
    font-size: 20vw;
    color: #1c1c50;
    margin-left: 1vw;
    cursor: pointer;
}
.other-links{
    margin-right: 2vw;
}
.other-links i{
    color: #1c1c50;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login{
    width: 10vh;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-login a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-login:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup{
    width: 100px;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    background-color: #1c1c50;
    color: white;
}
#btn-signup:hover{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 1.5vw;
    }
    .top-icons i{
        font-size: 1.5vw;
    }
    .other-links i{
        font-size: 1.5vw;
    }
    #btn-login{
        width: 6vw;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width: 350px) {
    .top-icons {
        margin-left: 1vw;
    }
    .top-icons i, .other-links i {
        font-size: 1.2vw;
    }
    #btn-login, #btn-signup {
        width: 5vw;
        height: 5vh;
        font-size: 1vw;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}
/* home section */
.home-section{
    width: 100%;
    height: 93vh;
    background-color: #a9a9a926;
}
/* navbar */
#navbar{
    background-color: black;    
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: white;
    font-weight: bold;
    margin-left: 50px;
    transition: 0.5s ease;
   
}
#navbar .nav-link:hover{
    color: #0ef;
    box-shadow: 0 0 20px #0ef;
    border-radius: 5px;
}
.dropdown li a{
    color: #0ef;
}

#search-btn{
    color: white;
    border:  1px solid white;
}
#search-btn:hover{
    background-color: #1c1c50;
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.content p{
    margin-left: 70px;
    color: #1c1c50;
}
.content #contact{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid white;
    background: transparent;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    margin-top: px;
}
.content #contact:hover{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content #shopnow{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content #contactnow{
        margin-left: 20px;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 150vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 100vh;
    }
}
/* home content */
/* home section */

/* top cards */
#top-cards{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}
#top-cards .card img{
    height: 60vh;
}
#top-cards h5{
    color: #1c1c50;
    font-weight: bold;
}
#top-cards button{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: #1c1c50;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover{
    background-color: #1c1c50;
    color: white;
}
/* top cards */

/* banner */
.content{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(./media/image2.jpg);
   

}
.content{
    text-align: center;
    padding-top: 100px; 
}
.content h3{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-size: 30px;
}
.content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-size: 18px;
}
.banner{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4), url(./media/image2.jpg) );
   
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
    
}

#bannerbtn button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner */
/* banner2 */
.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./media/image2.jpg);
}
.banner2 .content2{
    text-align: center;
    padding-top: 100px;
}
.banner2 .content2 h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn2 button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner2 */

/* product cards */
#product-cards{
    font-family: 'Roboto Slab', serif;
    margin-top: 50px;
   
}
#product-cards .card{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  
}
/* .col-md-3{
    
    margin-right: 110px;
   
} */
#product-cards h1{
    margin-top: 30px;
    color: #1c1c50;
    text-shadow: 1px 1px 1px black;
}
#product-cards h3{
    letter-spacing: 3px;
    color: #1c1c50;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
#product-cards h5 span{
    float: right;
    color: #1c1c50;
    cursor: pointer;
   
}
.checked{
    color: rgb(255, 187, 0);
}
#viewmorebtn{
    display: flex;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #1c1c50;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
}
#viewmorebtn:hover{
    background-color: #1c1c50;
    color: white;
}
/* product cards */






/* offer */
#offer{
    margin-top: 50px;
}
#offer i{
    font-size: 60px;
    color: #1c1c50;
}
/* offer */

/* footer */
#footer{
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background:black;
    font-family: 'Roboto Slab', serif;
}
#footer .footer-top{
    padding: 60px 0 30px;
    background: black;
    color: white;
}
#footer .footer-top .footer-contact h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin:  0 0 300px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    margin: 0;
    color: white;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding-right: 10px 0;
    display: flex;
    align-items: center;
    transition: 0.5s e;
    
}
#footer .footer-top .footer-links ul li:first-child{
    padding: 0;
   
}
#footer .footer-top .footer-links ul li a{
    color: white;
    line-height: 2;
    transition: background 0.5s ease;
}
.footer-top .footer-links ul li a:hover{
    background: #0ef;
    
    
}

.footer-links .socail-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
}
.footer-links .socail-links a:hover
{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px white;
    
}
#footer .copyright{
    text-align: center;
    float: left; 
}
#footer .credits{
    float: right;
    text-align: center;
}
/* footer */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background-color: white;
    border-radius: 100px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
    transition: 0.5s ease-in;
}
.arrow:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

/* login */
.login{
    width: 50%;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}
#side1{
    background-color: #1c1c50;
    height: 76vh;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}
#side1 p{
    color: white;    
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn{
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
#btn a{
    text-decoration: none;
    color: white;
}
#side2{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3{
    margin-top: 50px;
    color: #1c1c50;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
}
#side2 input{
    width: 500px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 p{
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i{
    margin-left: 10px;
    cursor: pointer;
}
#login{
    margin-top: 10px;
}
#login button{
    width: 200px;
    height: 32px;
    color: white;
    background-color: #1c1c50;
    border: none;
    font-weight: bold;
}
@media screen and (max-width:992px){
    #side2 input{
        width: 300px;
    }
}
@media screen and (max-width:330x){
    #side2 input{
        width: 200px;
    }
}
/* login */

/* about */
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;    
    font-weight: bold;
    color: #1c1c50;
}
/* about */

/* contact */
#contact{
    margin-top: 50px;
}
#contact h1{
    color: #1c1c50;
    text-shadow: 0px 0px 1px black;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #1c1c50;
}#messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
#messagebtn button:hover{
    background-color: #1c1c50;
    color: white;
}
/* contact */
.navbar-toggler{
    transition: 0.5s ease-in;
}
.navbar-toggler:hover{
    background: black;
    color: #0ef;
    box-shadow: 0 0 30px #0ef;
}

/* Responsive styling for company name h1 */
#navbar h1{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

@media screen and (max-width: 992px){
    #navbar h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px){
    #navbar h1{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 576px){
    #navbar h1{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px){
    #navbar h1{
        font-size: 0.85rem;
    }
}

/*  */



.card {
    position: relative;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.3); /* Increase the scale factor for more zoom */
}
/*  */
.custom-margin {
    margin-bottom: 500px; /* Adjust the value as needed */
}
/* 
 
*/
.styled-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .styled-button:hover {
    background-color: #45a049; /* Darker Green */
  }
  /*  */

  .bannertest{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./media/Road-Traffic-Safety-Equipment-Manufacturer\ background.webp);
}
.bannertest .content2{
    text-align: center;
    padding-top: 100px;
}
.bannertest .content2 h1{
    color: black;
    text-shadow: 2px 2px 2px white;
    letter-spacing: 3px;
    font-size: 50px;
}

.bannertest .content2 h2{
    color: black;
    text-shadow: 2px 2px 2px white;
    letter-spacing: 3px;
    font-size: 35px;
}

.bannertest .content2 p{
    color:white;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 3px;
    font-size: 20px;
}
